<% if (locals.user) { %>
    <%= locals.user.username %>
    <form action="/logout" method="GET">
        <button type="submit">logout</button>
    </form>
<% } else { %>
<form action="/" method="POST">
    <label>username:</label>
    <input type="text" name="username"></input>
    <button type="submit">login</button>
</form>
<% } %>